/* Header styles */
header {
  background-color: #111;
  padding: 10px 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 1000;
}

.btn-small {
  background: #e50914;
  color: #000;
}

.brand-logo:hover {
  color: #ff6600; /* Darker red on hover */
}

/* Style the navigation links */
#nav-mobile li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

#nav-mobile li a:hover {
  color: #ff6600; /* Darker color on hover */
}

/* Background color for the body */
body {
  background-color: #121212;
}

/* Center-align text */
.center-align {
  color: white;
}

/* Navigation bar styles */
nav {
  background-color: #000;
  height: 60px;
  color: white;
}

.brand-logo {
  font-size: 1.5rem;
  margin-left: 20px;
  padding: 10px 0;
}

/* Search form styles */
#search-form {
  margin-top: 50px;
}

#search {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

/* Container styles */
.container {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Dropdown and slider styles */
.select-dropdown {
  background-color: #222 !important;
  color: #fff !important;
}

#duration-dropdown,
#type-dropdown {
  background-color: #222 !important;
  color: #fff !important;
}

#test-slider {
  margin-top: 10px;
}
.sidenav {
  background-color: #000;
}
.noUi-connect {
  background: #e50914;
}
.sidenav li a {
  color: #e50914;
}
.dropdown-content {
  background-color: #e50914;
}
.btn-flat {
  color: #fff;
}
.btn-flat:hover {
  background-color: #000;
}
.logo-image {
  width: 30px;
  height: auto;
  margin-right: 8px;
}
.centered-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }

#movie-container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
  
  .col {
    flex: 1;
    min-width: 260px; 
    margin-right: 20px; 
  }
/* Card styles */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #222;
    color: #fff;
  }

  
  .card-image {
    flex: 1;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .card-content {
    padding: 10px;
    text-align: left;
    color: #fff;
    background-color: #222;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #5b5b5b;
    border-radius: 10px;
    color: #fff;
  }
  
  .card-reveal {
    padding: 10px;
    background-color: #222;
    overflow: hidden;
    color: #fff;
    display: none;
  }
  
  .card-reveal p {
    margin: 10px 0;
    color: #fff;
    font-size: 0.9rem;
  }
  